<!-- Sidebar -->
<aside id="sidebar" class="w-64 bg-white shadow-md h-screen fixed transform -translate-x-full lg:translate-x-0 transition-transform duration-300 z-50 overflow-y-auto lg:overflow-y-hidden">
    <div class="flex items-center justify-between p-4 sticky top-0 bg-white z-10">
        <div class="flex items-center">
            <img src="../media/logo/EJPL.png" alt="Logo" class="w-12 h-auto mr-2">
            <span class="font-bold text-sm lg:text-lg text-[#232931]">EJPL Dental Clinic</span>
        </div>

        <!-- Back Arrow -->
        <button id="close-sidebar" class="lg:hidden text-[#232931] focus:outline-none">
            <i class="fas fa-arrow-left text-xl"></i>
        </button>
    </div>
    <nav class="mt-2 h-full">
        <ul class="w-[95%] mx-auto">
            <li class="p-4 pt-2 pb-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs rounded-lg current-page">
                <a href="../Medical Personnel/personnel-home.html" class="flex items-center ml-1">
                    <i class="fas fa-home w-6 text-center"></i> 
                    <span class="ml-4">Dashboard</span>
                </a>
            </li>
        </ul>

        <ul class="mt-4 w-[95%] mx-auto">
            <label class="text-[#AAAAAA] tracking-widest ml-6 text-[0.6rem] lg:text-xs">REPORTS</label>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs rounded-lg">
                <a href="../Medical Personnel/personnel-patientappointmentreports.html" class="flex items-center ml-2">
                    <i class="fas fa-calendar-alt w-6 text-center"></i>
                    <span class="ml-4">Patient Appointment</span>
                </a>
            </li>
            <li class="p-4 pt-2 pb-2 mb-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs rounded-lg">
                <a href="../Medical Personnel/treatmentreports.html" class="flex items-center ml-2">
                    <i class="fas fa-stethoscope w-6 text-center"></i>
                    <span class="ml-4">Treatments</span>
                </a>
            </li>
            <li class="p-4 pt-2 pb-2 mb-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs rounded-lg">
                <a href="../Medical Personnel/paymentreports.html" class="flex items-center ml-2">
                    <i class="fas fa-credit-card w-6 text-center"></i>
                    <span class="ml-4">Payments</span>
                </a>
            </li>
        </ul>

        <ul class="mt-4 w-[95%] mx-auto">
            <label class="text-[#AAAAAA] tracking-widest ml-6 text-[0.6rem] lg:text-xs">RECORDS</label>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs rounded-lg">
                <a href="../Medical Personnel/personnel-records.html" class="flex items-center ml-2">
                    <i class="fas fa-folder-open w-6 text-center"></i>
                    <span class="ml-4">Patient Records</span>
                </a>
            </li>
        </ul>

        <ul>
            <label class="text-[#AAAAAA] tracking-widest ml-6 text-[0.6rem] lg:text-xs">FINANCE</label>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs">
                <a href="../Medical Personnel/personnel-balance.html" class="flex items-center ml-2">
                    <i class="fas fa-coins w-6 text-center"></i>
                    <span class="ml-4">Tracking Balance</span>
                </a>
            </li>
        </ul>

        <ul>
            <label class="text-[#AAAAAA] tracking-widest ml-6 text-[0.6rem] lg:text-xs">APPOINTMENT DATA</label>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs">
                <a href="../Medical Personnel/personnel-appointment.html" class="flex items-center ml-2">
                    <i class="fas fa-calendar-check w-6 text-center"></i>
                    <span class="ml-4">Appointments</span>
                </a>
            </li>
        </ul>

        <ul>
            <label class="text-[#AAAAAA] tracking-widest ml-6 text-[0.6rem] lg:text-xs">MANAGEMENT</label>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs">
                <a href="../Medical Personnel/personnel-management.html" class="flex items-center ml-2">
                    <i class="fas fa-cogs w-6 text-center"></i>
                    <span class="ml-4">Service</span>
                </a>
            </li>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs">
                <a href="" class="flex items-center ml-2">
                    <i class="fas fa-procedures w-6 text-center"></i>
                    <span class="ml-4">Treatment</span>
                </a>
            </li>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs">
                <a href="" class="flex items-center ml-2">
                    <i class="fas fa-address-book w-6 text-center"></i>
                    <span class="ml-4">Contact</span>
                </a>
            </li>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs">
                <a href="" class="flex items-center ml-2">
                    <i class="fas fa-user-md w-6 text-center"></i>
                    <span class="ml-4">Dentist</span>
                </a>
            </li>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs">
                <a href="" class="flex items-center ml-2">
                    <i class="fas fa-users w-6 text-center"></i>
                    <span class="ml-4">Staff</span>
                </a>
            </li>
            <li class="p-4 pt-2 pb-2 mb-2 mt-2 hover:bg-[#f0f0f0] text-[#232931] lg:text-sm text-xs">
                <a href="" class="flex items-center ml-2 mb-10">
                    <i class="fas fa-tags w-6 text-center"></i>
                    <span class="ml-4">Discount</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
